/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

.special-line {
	position: relative;
	text-align: center;
	clear: both;
}

/*Aei-Bannecms start*/
.aei_cmsbanner{
	background-color: #ffffff;
	position: relative;
	text-align: center;
	padding: 80px 0;
    clear: both;
}
.aei_cmsbanner .container{
	position: relative;
}
#aei_banner_inner {
    position: relative;
	margin-bottom: 0;
}
.aei-banner-item {
    float: left;
	padding: 0;
	position: relative;
}
#aei_banner_inner .slick-slide {
    padding: 0 15px;
}
.aei_cmsbannerimage {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
#aeibannerarrows {
    width: 100%;
    top: 35%;
    opacity: 0;

	transition: all 700ms ease 0s;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
}
.aei_cmsbanner:hover #aeibannerarrows{
	opacity: 1;
}
#aeibannerarrows .slick-prev{
	left: -32px;
}
#aeibannerarrows .slick-prev:hover{
	background: transparent url("../img/aximage/slick-prev-hover.png") no-repeat scroll center;
}
#aeibannerarrows .slick-next{
	right: -32px;
}
#aeibannerarrows .slick-next:hover{
	background: transparent url("../img/aximage/slick-next-hover.png") no-repeat scroll center;
}
.aei-details.center .aei-title {
    font-family: 'Great Vibes', cursive;
    color: #ffffff;
    font-size: 52px;
    line-height: normal;
    letter-spacing: 2.08px;
    background: linear-gradient(0deg, rgba(169,68,225,1) 0%, rgba(251,183,192,1) 100%);
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #ffffff;
}
.aei-details.center .aei-desc {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.78px;
    padding-top: 18px;
}
.aei_cmsbanner .aei-details.center .btn {
    padding: 9px 27px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    margin-top: 49px;
}
.aei_cmsbanner .aei-details.center .btn:hover{
	color: #000000;
	border-color: #ffffff;
	background: #ffffff;
}
.aei-details {
    top: 55px;
    right: 65px;
    left: 65px;
    bottom: 55px;
    text-align: center;
    position: absolute;
	padding: 23px 0;
	background-color: rgba(255,255,255,0.9);
	transform: scale(0) rotate(720deg);
	-webkit-transform: scale(0) rotate(720deg);
	-moz-transform: scale(0) rotate(720deg);
	-ms-transform: scale(0) rotate(720deg);
	-o-transform: scale(0) rotate(720deg);
	transition: all 700ms ease 0s;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
}
.aei-banner-item:hover .aei-details{
	opacity: 1;
	transform: scale(1) rotate(0deg);
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
}
.banner-img {
    position: relative;
	margin-bottom: 30px;
	border: 1px solid #e6e6e6;
}
.aei-title{
    color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	text-align: left;
	float: right;
	padding-right: 40px;
	margin-top: 10px;
	border-left: 1px solid rgba(0,0,0,0.2);
	padding-left: 15px;
}
.aei-title .aei-title2 {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    display: inherit;
}
.aei-desc{
    color: #9f7ffe;
	font-size: 44px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.56px;
	text-transform: capitalize;
	float: left;
	padding-left: 35px;
	margin-top: 15px;
	position: relative;
}
.aei-desc .dcnt {
    font-size: 26px;
	line-height: 27px;
	letter-spacing: 3.09px;
	position: absolute;
	top: -3px;
	right: -34px;
}
.aei-desc .offer {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    line-height: normal;
    letter-spacing: 1.19px;
}
.banner-desc {
    position: relative;
    width: 66%;
    display: block;
    margin: 0 auto;
}
.banner-desc p {
    color: #a9a9a9;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1.2px;
    margin-bottom: 50px;
}
.aei-title a:hover{
    color: #9f7ffe;
}
.aei_cmsbanner .aei-details .btn {
    font-size: 14px;
	font-weight: 500;
	color: #000000;
	text-transform: capitalize;
	background: transparent;
	line-height: normal;
	letter-spacing: 0.56px;
	padding: 0;
	margin-top: 79px;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	text-decoration: underline;
	display: block;
	text-align: center;
}
.aei_cmsbanner .aei-details .btn:hover {
    color: #ae4bdf;
}

/*Aei-Bannecms end*/

/*Aei-Service Start*/

#aei_cmsservice {
	position: relative;
	clear: both;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	overflow: hidden;
	background: var(--color_orange);
	color: var(--color_white);
}
#aei_cmsservice p {
    color: var(--color_white);
}
#aei_cmsservice ul{
	margin: 0;
	text-align: center;
}
#aei_cmsservice .aei-service-item.second {
    margin: 0 90px;
}
#aei_cmsservice .aei-service-item {
	margin:0;
	padding: 5px 0;
    float: left;
	width: 28.33%;
	position: relative;
	text-align: center;
	border: 1px solid rgba(255,255,255,0.2);
}
.aei-service-item-inner {
    cursor: pointer;
}
#aei_cmsservice .aei-service-item.fourth {
    width: 16%;
}
.aei-service-item .aei-image-block {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.aei-service-item .aei-image-icon {
	display: inline-block;
    vertical-align: top;
    height: 40px;
	width: 40px;
}
#aei_cmsservice .aei-service-item:hover{
	border-color: #9f7ffe;
	background-color: #9f7ffe;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
#aei_cmsservice .aei-service-item:nth-child(1) .aei-image-icon{
	background: transparent url("../img/aximage/service-1.svg") no-repeat scroll center;
}
/*#aei_cmsservice .aei-service-item:nth-child(1):hover .aei-image-icon{
    background: #ffffff url("../img/aximage/service-icon.svg") no-repeat scroll center;
}*/
#aei_cmsservice .aei-service-item:nth-child(2) .aei-image-icon{
	background: transparent url("../img/aximage/service-2.svg") no-repeat scroll center;
}
/*#aei_cmsservice .aei-service-item:nth-child(2):hover .aei-image-icon{
    background: #ffffff url("../img/aximage/service-icon.svg") no-repeat scroll center;
}*/
#aei_cmsservice .aei-service-item:nth-child(3) .aei-image-icon{
	background: transparent url("../img/aximage/service-3.svg") no-repeat scroll center;
}
/*#aei_cmsservice .aei-service-item:nth-child(3):hover .aei-image-icon{
    background: #ffffff url("../img/aximage/service-icon.svg") no-repeat scroll center;
}
#aei_cmsservice .aei-service-item:nth-child(4) .aei-image-icon{
	background: #ffffff url("../img/aximage/service-icon.png") no-repeat scroll center -452px;
}
#aei_cmsservice .aei-service-item:nth-child(4):hover .aei-image-icon{
    background: #ffffff url("../img/aximage/service-icon.png") no-repeat scroll center -529px;
}*/
.service-right {
    display: block;
	vertical-align: top;
	text-align: left;
}
.aei-service-item .aei-image-icon i {
    font-size: 25px;
	color: #000;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	background: linear-gradient(0deg, rgba(169,68,225,1) 0%, rgba(251,183,192,1) 100%);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.aei-service-title {
    color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.84px;
	line-height: normal;
	text-transform: capitalize;
	margin-top: 11px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
.aei-service-desc {
   	color: #999999;
	line-height: normal;
	text-transform: capitalize;
	font-size: 13px;
	letter-spacing: 1.3px;
	font-weight: 400;
}
/* colorbox  */
.main_inline_content{
    display: none;
}
#cboxLoadedContent .content {
    text-align: center;
}
#cboxLoadedContent .content .aei-service-title,#cboxLoadedContent .content span {
    display: block;
    text-transform: capitalize;
}
#cboxLoadedContent .content .aei-service-desc2 {
    font-size: 13px;
    color: #737373;
}
#cboxLoadedContent{
    max-width: 500px;
}
#cboxLoadedContent .content .aei-service-title {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}
#cboxLoadedContent .content .service-right {
    margin: 20px 0 0;
    padding: 0 30px;
    text-align: center;
}
#cboxLoadedContent .content .service-right .aei-service-desc1 {
    margin: 10px 0 5px;
}
#cboxLoadedContent .content .aei-image-block .aei-image-icon {
    padding: 20px;
    background-color: #f5f5f5;
}

/*Aei-Service end*/

/*Aei-Topcms start*/

#aeicmstop {
    float: left;
	position: relative;
	margin-right: 30px;
	margin-top: 10px;
	margin-left: 105px;
}
.cmsdetails {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    cursor: pointer;
}
.cmsdetails .fa.fa-phone {
    padding-right: 5px;
	font-size: 20px;
	top: 2px;
	position: relative;
}
.cmsdetails a{
	color: #a1a1a1;
}
.cmsdetails:hover a{
	color: #9f7ffe;
}


/*Aei-Topcms end*/

/*Aei-Category CMS start*/
#aei_cmscategory{
	text-align: center;
	padding: 145px 0;
	margin-bottom: 100px;
	margin-top: 30px;
}
.aei-cat-details {
    position: relative;
    text-align: left;
}
.aei-cat-title {
    color: #000000;
	font-size: 52px;
	line-height: 70px;
	letter-spacing: 2.08px;
	text-transform: capitalize;
	font-weight: 700;
}
.aei-cat-title span{
	color: #9f7ffe;
}
.aei-cat-desc {
    color: #000000;
	font-size: 52px;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: 2.08px;
}
.aei-cat-dscnt {
    color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.aei-cat-dscnt span {
    color: #9f7ffe;
    font-size: 32px;
    line-height: 72px;
    letter-spacing: 1.92px;
    font-weight: 700;
    font-style: italic;
}
.aei-cat-shop-btn {
    color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.56px;
	padding: 10px 29px;
	display: inline-block;
	vertical-align: top;
	margin-top: 0;
	background-color: #000000;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}
.aei-cat-shop-btn:hover{
	background-color: #9f7ffe;
	color: #ffffff;
}

@-webkit-keyframes colorchange {
    0% { color: #d50e45;}
    25% {color: #000000;}
    50% {color: #113c82;}
    75% { color: #9f7ffe;}
    100% {color: #02204d;}
}

/*Aei-Category CMS end*/


/*Aei-Testimonial start*/
.aei-cmstestimony {
    background-color: #ffffff;
	text-align: center;
	padding:85px 0 135px;
	position: relative;
	z-index: 1;
}
.aei-cmstestimony .container {
    position: relative;
}
#aeitestimony-slider .slick-dots{
	opacity: 0;
	bottom: -50px;
}
.aei-cmstestimony:hover #aeitestimony-slider .slick-dots{
	opacity: 1;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
#aeitestimony-slider {
    margin: 0;
}
.aeitestimony-slider .item.cms_face {
    padding: 0 80px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
}
.product_inner_cms {
    position: relative;
	float: left;
	width: 33%;
	clear: both;
}
.product_inner_cms::after{
	content: "";
	right: -50px;
	top: 0;
	width: 20px;
	height: 97px;
	position: absolute;
	background: transparent url("../img/aximage/testimony-icon.png") no-repeat scroll center;
}
.ax-testimony-title {
    color: #000000;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.944px;
	margin-bottom:30px;
	text-transform: uppercase !important;
	line-height: normal;
	text-align: left;
}
#aeicmstestimony:hover #aeitestimonyarrows{
	opacity: 1;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
.test-client .name a {
    color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 1.42px;
	text-transform: capitalize;
}
.test-client .designation a {
	color: #858585;
	font-size: 13px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 1.95px;
	text-transform: capitalize;
}
.test-client .name:hover a{
    color: #9f7ffe;
}
.testimony-details .desc p{
    color: #a1a1a1;
	font-size: 13px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 1.027px;
	margin-bottom: 0;
}
.testimony-details .desc p i{
	color: #9f7ffe;
}
.aei-cmstestimony .testmonial-image img {
    max-width: 100px;
	max-height: 100px;
}
.test-client {
   float: left;
	display: block;
	padding-left: 20px;
	padding-top: 20px;
	text-align: left;
}
.testmonial-image {
    float: left;
}
.testimony-icon {
    background: transparent url("../img/aximage/testimony-icon.png") no-repeat scroll center;
	display: inline-block;
	vertical-align: top;
	margin-top: 6px;
	height: 40px;
	width: 44px;
}
.testimony-details {
    position: relative;
	overflow: hidden;
	float: left;
	width: 67%;
}
.testimony-details .desc {
    width: 75%;
	margin: 0 auto;
	text-align: left;
	position: relative;
}
#aeitestimonyarrows {
    top: 0;
    width: 40px;
    right: 60px;
}
.aei-cmstestimony .slick-prev {
    background: transparent url("../img/aximage/testimony-prev.svg") no-repeat scroll center/15px;
    width: 20px;
    height: 20px;
}
.aei-cmstestimony .slick-next {
    background: transparent url("../img/aximage/testimony-next.svg") no-repeat scroll center/15px;
    width: 20px;
    height: 20px;
}
.aei-cmstestimony .slick-next:hover {
	background: transparent url("../img/aximage/testimony-next-hover.svg") no-repeat scroll center/15px;
}
.aei-cmstestimony .slick-prev:hover {
	background: transparent url("../img/aximage/testimony-prev-hover.svg") no-repeat scroll center/15px;
}
/*Aei-Testimonial end*/

/*Aei-Bottom CMS start*/
#aei_cmsbottom {
    float: left;
	width: 37%;
	clear: both;
	display: block;
	padding: 0 15px 0 0;
	position: relative;
}
.cmsbottom-banner {
    position: relative;
    text-align: center;
    overflow: hidden;
}
.cmsbanner-details {
    position: absolute;
    left: 0;
    right: 0;
    top: 33px;
    bottom: auto;
    z-index: 1;
}
.cmsbanner-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
    display: block;
}
.cmsbanner-desc {
    display: block;
    color: #000000;
    font-size: 14px;
    line-height: 48px;
    letter-spacing: 0.56px;
    font-weight: 400;
    margin-bottom: 10px;
}
.shopnow.btn {
    letter-spacing: 0.56px;
    display: inline-block;
    color: #ffffff;
    transition-duration: 500ms;
    background-color: #9f7ffe;
    font-weight: 400;
    line-height:normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 0;
    padding: 8px 28px;
}
.shopnow.btn:hover{
	background-color: #000000;
}
/*Aei-Bottom CMS start*/


/*Aei-payment start*/

#aeicmspayment {
    float: right;
}
.payment-block-inner {
    margin: 0;
}
.payment-block .icon {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
}

/*Aei-payment end*/

/*Aei-brand logo start*/


.brands {
    display: block;
    padding: 50px 0;
}
.brands .products {
    position: relative;
}
#aeibrand-slider{margin: 0;}
#aeibrand-slider .slick-dots {
    bottom: -35px;
    opacity: 0;
}
.brands:hover #aeibrand-slider .slick-dots {
    opacity: 1;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
.brands #aeibrand-arrows {
    width: 100%;
    top:25px;
    z-index: 1;
    opacity: 0;
    right: 0;
    bottom: auto;
}
.brands #aeibrand-arrows .slick-prev {
    left: 15px;
}
.brands #aeibrand-arrows .slick-next {
    right: 15px;
}
.brands:hover #aeibrand-arrows {
    opacity: 1;
}
.brands .brand-image img {
    opacity: 0.2;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
.brands .brand-image:hover img {
    opacity: 1;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

/*Aei-brand logo end*/

/*Custom-Link start*/
#_desktop_links_block_top {
    float: left;
	margin-left: 110px;
	margin-top: 15px;
}
#aei_customlink {
	margin: 0;
}
#aei_customlink li{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-right: 20px;
}
#aei_customlink li:last-child{
	padding-right: 0;
}
#aei_customlink li a {
    color: #ffffff;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.96px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
}
#aei_customlink li a:hover{
	color: #9f7ffe;
}

/*Aei-parallax cms start*/
#aeicmsparallax{
	position: relative;
	z-index: 1;
	padding: 0;
	text-align: center;
	height: 589px;
	margin-top: 70px;
}
#aeicmsparallax::after{
	background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.parallax-wrapper {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 0 10px;
    position: relative;
}
.parallax-image {
    padding: 0;
	position: relative;
}
.section-intro.youtube-video-background {
    display: flex;
    position: relative;
    min-height: 589px;
    background: #000;
}
.section-intro.youtube-video-background iframe {
    opacity: 0.7;
}
.parallax-text {
    position: absolute;
	left: 352px;
	right: auto;
	top: 30%;
	bottom: 30%;
	margin: 0 auto;
	z-index: 2;
	text-align: left;
}
.parallax-title {
    color: #9f7ffe;
	font-size: 62px;
	font-weight: 500;
	line-height: 80px;
	letter-spacing: 1.68px;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
}
.parallax-desc {
    color: #FFFFFF;
	font-size: 62px;
	font-weight: 500;
	line-height: 80px;
	letter-spacing: 1.68px;
	text-transform: uppercase;
}
.parallax-btn.btn {
    color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.56px;
	background-color: #9f7ffe;
	padding: 10px 24px;
	margin-top: 42px;
	text-transform: uppercase;
}
.parallax-btn.btn:hover{
	background-color: #ffffff;
	color: #000000;
}
#video-background {
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.section-first{
	height: 530px;
	background-color: transparent;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
/*Aei-parallax cms end*/

/* Aeo_cmsservice1 */
#aeo_cmsservice1 {
	position: relative;
	background: url('../img/bg-service1.jpg');
	background-size: cover!important;
	background-repeat: no-repeat!important;
	width: 100%;
	color: var(--color_white);
	padding-top: 80px;
}
#aeo_cmsservice1 .aeo-service-first-row p {
	color: var(--color_white);
}

#aeo_cmsservice1 .aeo-service-second-row p {
	color: var(--color_turquoise);
}

#aeo_cmsservice1 .aeo-service-second-row .aeo-service-item.first,
#aeo_cmsservice1 .aeo-service-second-row .aeo-service-item.third {
	padding-top: 100px;
	text-align: center;
}
/* Aeo_cmsservice1 end*/

/* Aei_cmscategory */
#aei_cmscategory {
    background: url('../img/bg-cmscategory.jpg');
    background-position: 13% 9%;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    top: 0;
    left: 0;
    height: 565px;
    right: 0;
    bottom: 0;
    padding: 0!important;
    margin: 0!important;
    width: 100%;
}
/* Aei_cmscategory end */

/* Aeo_cmsservice2 */
#aeo_cmsservice2 {
    background: var(--color_turquoise);
    color: var(--color_white);
}

#aeo_cmsservice2 p {
    color: var(--color_white);
}
/* aeo_cmsservice2 end */

/*=================== responsive part ======================*/
@media (max-width: 1299px){
	#aeibannerarrows .slick-next{
		right: 0;
	}
	#aeibannerarrows .slick-prev{
		left: 0;
	}
}
@media (max-width: 1230px) and (min-width: 1200px){
	#aei_cmsservice .aei-service-item.second {
	    margin: 0 85px;
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	.blogbanner-left{
		width: 49.3%;
	}
	#aeicmstop{
		margin-left: 45px;
	}
}
@media (min-width: 768px){
	.banner-second.banner-img {
	    margin-bottom: 0;
	}
}
@media (max-width:1199px) {
	.aei-details{
		top: 25px;
		right: 25px;
		left: 25px;
		bottom: 25px;
	}
	.aei-title{padding-right: 35px;}
	.aei-desc{padding-left: 25px;}
	#aei_cmsservice .aei-service-item.second {
	    margin: 0 69px;
	}

	.testimony-details .desc{ width: 70%; }
	.testimony-details{ width: 65%; }
	.product_inner_cms{ width: 35%; }
	.aeitestimony-slider .item.cms_face{ padding: 0; }
}
@media (max-width: 898px){
	.aei-details {
	    top: 55px;
	    right: 65px;
	    left: 65px;
	    bottom: 55px;
	}
}
@media (max-width: 991px){
	#aei_cmscategory{
		margin-bottom: 40px;
	}
	.blogbanner-left{
		float: none;
		width: auto;
		padding: 0;
	}
	.blog-banner::after, .blog-banner::before{ display: none; }
	#aei_cmsservice .aei-service-item.second {
	    margin: 0 55px;
	}
	.aei-cmstestimony{
		padding: 40px 0 100px;
	}
	.aei-details.center .aei-title {
	    font-size: 30px;
	}
	#aeicmstop{display: none;}
	.ax-payment-title{
		margin-bottom: 10px;
	}
	.aei-cmstestimony .test-right{
		padding-top: 0;
	}
    #aeicmspayment {
	    width: 100%;
	    margin-top: 10px;
	}
	#aeicmsbannerarrows {
	    left: 41%;
		bottom: 92px;
	}
	.img-thumbnails{
		width: 45%;
	}
	.aei_cmsbanner {
	    padding: 40px 0;
	}
	.product_inner_cms {
	    width: auto;
	    float: none;
	    display: inline-block;
	    vertical-align: top;
	}
	.testimony-details {
	    width: auto;
	    float: none;
	    display: inline-block;
	    vertical-align: top;
	    margin-top: 15px;
	}
}

@media (max-width: 767px){
	.aei-details {
	    top: 35px;
	    right: 35px;
	    left: 35px;
	    bottom: 35px;
	}
	.testimony-details .desc {
		width: 100%;
	}
	#aeitestimony-slider .slick-dots{
	    opacity: 1;
	}
    .img-thumbnails {
	    width: 100%;
	    float: none;
	}
    #aeicmsbannerarrows {
	   	left: auto;
		bottom: 40%;
		top: auto;
		right: 75px;
	}
	.aei-details{margin-left: 0;}
    .aei_cmsbannerimage {
	    width: auto;
	    float: none;
	    width: 100% !important;
	}
	.aei_cmsbanner .slider-nav-thumbnails .slick-slide.slick-active.slick-current {
	    display: inline-block;
	    left: 0 !important;
	    opacity: 1 !important;
	    float: none;
	    vertical-align: top;
	}
	.img-thumbnails {
	    width: 100%;
	    float: none;
	    text-align: center;
	}
	.img-thumbnails .slick-track {
	    width: auto !important;
	    text-align: center;
	}
	.aei-service-item .aei-image-block{
		display: block;
	}
	#aei_cmsservice .aei-service-item{
		float: none;
		width: 65%;
		display: inline-block;
		vertical-align: top;
	}
	#aei_cmsservice .aei-service-item.second{ margin: 10px 0; }
	.aei-service-title{ margin-bottom: 10px; }
}
@media (max-width: 650px){
	.aei-banner-item {
	    float: none;
	    padding: 0;
	    position: relative;
	    width: auto !important;
	    vertical-align: top;
	}
}
@media (max-width: 575px){
	#aeicmsbannerarrows{bottom: 44%; right: 25px;}
	#aei_cmscategory{ padding: 90px 0; }
	.aei-cat-dscnt span, .aei-cat-desc, .aei-cat-title{
		font-size: 28px;
		line-height: 45px;
	}
	.aei-cat-shop-btn{ margin-top: 20px; }
	.aei-cat-dscnt{ line-height: normal; }
	.product_inner_cms::after{ display: none; }
}
@media (max-width: 479px){
	.banner-desc p{margin-bottom: 30px;}
	.aei_banner_inner{
		padding: 0 15px;
	}
	.aei-details.center .aei-desc{
		font-size: 14px;
	}
	#aei_cmsservice .aei-service-item{
		width: 80%;
	}
	#aeibannerarrows{
		opacity: 1;
	}
	.aei-details {
	    opacity: 1;
	    transform: scale(1) rotate(0deg);
	    -webkit-transform: scale(1) rotate(0deg);
	    -moz-transform: scale(1) rotate(0deg);
	    -ms-transform: scale(1) rotate(0deg);
	    -o-transform: scale(1) rotate(0deg);
	    transition: all 700ms ease;
	    -webkit-transition: all 700ms ease;
	    -moz-transition: all 700ms ease;
	    -ms-transition: all 700ms ease;
	    -o-transition: all 700ms ease;
	}
}
@media (max-width: 360px){
	.aeitestimony-slider .item {
	      padding: 0;
	}
	.test-client{ padding-left:8px; }
}
@media (max-width: 320px){
	#aeicmsbannerarrows {
	    bottom: 67%;
	}
	.aei-details {
	    top: 15px;
	    right: 15px;
	    left: 15px;
	    bottom: 15px;
	}
}
