.slideshow-container {
  position: relative;
  float: left;
  width: 100%;
}

.aeisliders {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.aeisliders li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.aeisliders img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
}
.slider-menu {
  text-align: center;
}
.aeisliders .caption {
  position: absolute;
  top: 25%;
  z-index: 2;
  left: 350px;
  text-align: left;
}
.slider-text .caption-description {
  display: block;
}
.slider-text h2 {
  margin: 0;
  color: #000;
  font-size: 80px;
  font-weight: 700;
  line-height: 91px;
  letter-spacing: 0;
  text-transform: capitalize;
}
.slider-btn {
  color: #000;
  font-size: 80px;
  line-height: 91px;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: capitalize;
}
.slider-text .slider-desc {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 91px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-top: -15px;
}
.slider-text .slider-desc span {
    color: #ffffff;
    font-size: 76px;
    line-height: normal;
    letter-spacing: 0;
    font-weight: 700;
    display: flex;
    margin-top: 25px;
}
.slider-text .caption-description p {
    margin: 11px 3px 0;
    float: none;
}
.slider-text .btn {
  background-color: #9f7ffe;
  color: #ffffff;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.56px;
  padding: 10px 29px;
  text-transform: capitalize;
  display: inline-block;
  vertical-align: top;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  border: none;
}
.slider-text .btn:hover{
  background-color: #000000;
  color: #ffffff;
}
.aeisliders_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top:45%;
  left: 0;
  opacity: 0;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height:74px;
  width:27px;
  background: transparent url("../homeslider.gif") no-repeat left top;
  border-radius:0;
  border:none;
}
.slider-menu:hover .aeisliders_nav.prev {
    left: 30px;
}
.slider-menu:hover .aeisliders_nav.next {
    right: 30px;
}
.slider-menu:hover .aeisliders_nav {
    opacity: 1;
}

.aeisliders_nav:active {
  opacity: 1.0;
}

.aeisliders_nav.next {
  left: auto;
  right: 15px;
  background: url("../img/slider-next.png") no-repeat scroll center;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.aeisliders_nav.next:hover {  
  background:url("../img/slider-next-hover.png") no-repeat scroll center;
}

.aeisliders_nav.prev {
  left:0;
  right:auto;
  background: url("../img/slider-prev.png") no-repeat scroll center;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.aeisliders_nav.prev:hover { 
  background:url("../img/slider-prev-hover.png") no-repeat scroll center;
}
.aeisliders_tabs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  text-align: center;
  display: none;
}
.aeisliders_tabs li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  font-size: 0;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.aeisliders_tabs li.aeisliders_here{
  background-color: #9f7ffe;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.aeisliders_tabs li a {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height: 15px;
}
@media (max-width: 1449px){
  .slider-text .caption-description p{ margin: 0; }
  .slider-text .slider-desc{ font-size: 12px; line-height: 99px; }
  .slider-btn{ font-size: 60px; line-height: 48px; }
  .slider-text h2{ font-size: 60px; }
  .aeisliders .caption{ top: 23%; left: 270px; }
}
@media (max-width: 1199px){
  .slider-btn{ font-size: 50px; line-height: 20px; }
  .slider-text h2 { font-size: 50px; }
  .aeisliders .caption{ left: 220px; }
}
@media (max-width: 991px){
  .slider-text h2{ font-size: 41px; }
  .aeisliders .caption{ top: 20%; left: 185px; }
  .slider-btn { font-size: 41px; line-height: 0; }
  .slider-text .slider-desc { font-size: 12px; line-height: normal; margin: 30px 0 20px; }
  #slideshow{
    width: 100%;
    float: none;
    margin: 0;
  }
  .slider-menu {
      position: relative;
      z-index: 0;
  }
}
@media (max-width: 767px){
  .aeisliders .caption{ left: 140px; }
  .aeisliders_nav.prev, .aeisliders_nav.next { display: none; }
  .slider-text h2{ font-size: 32px; line-height: 70px; }
  .slider-btn { font-size: 32px; }
  .aeisliders_tabs {
      display: block;
      margin-bottom: 5px;
  }
}
@media (max-width:650px){
  .slider-text .btn { font-size: 12px; padding: 5px 15px; line-height: normal; }
  .aeisliders .caption { top: 15%; left: 120px; }
}
@media (max-width:575px){
  .slider-text .slider-desc{ margin: 20px 0 5px; }
  .aeisliders .caption { top: 10%; left: 90px; }
}
@media (max-width: 479px){
  .aeisliders .caption { top: 18%; }
  .slider-text h2 { font-size: 20px; line-height: 50px; }
  .slider-btn { font-size: 20px; }
  .slider-text .slider-desc { display: none; }
  .slider-text .caption-description p { margin: 25px 0 0 0; }
}
@media (max-width: 400px){
  .aeisliders .caption { left: 60px; }
  .slider-text h2{ line-height: 30px; } 
  .slider-btn{ font-size: 16px; }
}
@media (max-width:360px){
  .slider-menu {
      padding: 0;
  }
  .slider-menu .container {
      padding: 0;
  }
  .aeisliders .caption {
    top: 5%;
  }
}
